USE [master]
GO
/****** Object:  Database [NHASACH]    Script Date: 3/6/2024 11:28:24 PM ******/
CREATE DATABASE [NHASACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHASACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KTEAM\MSSQL\DATA\NHASACH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NHASACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KTEAM\MSSQL\DATA\NHASACH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHASACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHASACH]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 3/6/2024 11:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[masach] [int] IDENTITY(1,1) NOT NULL,
	[maloai] [int] NULL,
	[tensach] [nvarchar](50) NULL,
	[hinh] [varchar](50) NULL,
 CONSTRAINT [PK__Sach__C4F27006CE8FF663] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 3/6/2024 11:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[maloai] [int] IDENTITY(1,1) NOT NULL,
	[tenloai] [nvarchar](30) NULL,
 CONSTRAINT [PK__TheLoai__734B3AEABA339EAA] PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([masach], [maloai], [tensach], [hinh]) VALUES (1, 1, N'Lập trìnhJava', N'/Content/images/book6.jpg')
INSERT [dbo].[Sach] ([masach], [maloai], [tensach], [hinh]) VALUES (2, 2, N'Quản trị kinh doanh quốctế', N'/Content/images/book4.jpg')
INSERT [dbo].[Sach] ([masach], [maloai], [tensach], [hinh]) VALUES (3, 3, N'Kỹ thuật tô
màu', N'/Content/images/book3.jpg')
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([maloai], [tenloai]) VALUES (1, N'Công nghệ thông tin')
INSERT [dbo].[TheLoai] ([maloai], [tenloai]) VALUES (2, N'Kinh tế')
INSERT [dbo].[TheLoai] ([maloai], [tenloai]) VALUES (3, N'Mỹ thuật')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__maloai__5EBF139D] FOREIGN KEY([maloai])
REFERENCES [dbo].[TheLoai] ([maloai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__maloai__5EBF139D]
GO
USE [master]
GO
